<button  data-action='delete'  data-libelle="{{ mouvementFinancierPlanifie.libelle }}" data-libelle-compte="{{ mouvementFinancierPlanifie.compte.nom }}" data-value='{{ mouvementFinancierPlanifie.id }}' class='btn btn-danger btn-xs' type='submit'>
	<span class='glyphicon glyphicon-remove'></span>
</button>
