{% if children.parent is not empty %}
	<button data-categorie="{{ children.libelle }}" data-parent="{{ children.parent.libelle }}" data-action='delete' data-value='{{ children.id }}' class='btn btn-danger'>
		<span class='glyphicon glyphicon-trash'></span><span class='hidden-xs'>Supprimer</span>
	</button>
{% else %}
	<button class='btn btn-danger disabled' type='button'><span class='glyphicon glyphicon-trash'></span><span class='hidden-xs'>Supprimer</span></button>
{% endif %}
