{% extends "::base_login.html.twig" %}

{% block title %}Ma petite Tirelire{% endblock %}

{% block contenu %}
<section id="intro">
	<div class="container-fluid">
		<div class="col-sm-7 presentation">
			{% block presentation %}
			<h1>Gérez facilement vos comptes</h1>
			<p>Ma petite tirelire est une application web vous permettant de faire vos comptes en ligne.<p>
			<p>Son but est de vous aider dans la gestion de vos finances et à termes : économiser.</p>
			{% endblock %}
		</div>
		
		<div class="col-sm-5 form">
			<div class="panel panel-primary">
				<div class="panel-heading">
					{% block panel_heading %}{% endblock %}
				</div>
				<div class="panel-body">
		    		{% block panel_body %}{% endblock %}
		    		{% block fos_user_content %}{% endblock %}
				</div>
				<div class="panel-footer">
					{% block panel_footer %}{% endblock %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock contenu %}

{% block stylesheets %}
	{{  parent()  }}
	<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css' />
	<link href='{{ asset('bundles/fgsuser/css/layout.css') }}'  rel='stylesheet' type='text/css' />
{% endblock %}
