{% extends "FGSGestionComptesBundle::layout.html.twig" %}

{% block title %}Ajout d'un nouveau compte{% endblock %}

{% block contenu %}

<h1 class="page-header">{% block titre_contenu %}Ajout d'un nouveau Compte{% endblock %}</h1>

	{{ form(form) }}

{% endblock %}


{% block javascripts %}
{{ parent() }}
<script>
$('#fgs_gestioncomptesbundle_compte_type_effacer').click(function(){
	$('form input[type="text"], form select').each(function(){$(this).val('')});
})
</script>
{% endblock %}
