{% form_theme form 'form_div_layout.html.twig' %}
{{ form_start(form, {'attr':{'style':'display: inline;', 'id' : 'formulaire_'~compte.id }}) }}
<button class='btn btn-danger btn-block' type='submit' data-compte="{{ compte.nom }}" id="_{{ compte.id }}"><span class="glyphicon glyphicon-trash"></span> Supprimer</button>
{{ form_end(form) }}
