.categorie-mf {
	font-size:90%; font-weight: normal;
}
.text-muted {
	color: #999 !important;
}
table
{
	border: 1px solid #ddd;
}
.logo-compte{
	height: 32px; 
	margin-top: 22px; 
	margin-bottom:12px;
	
}