{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent() }} : Réinitialisation de votre mot de passe{% endblock %}

{% block panel_heading %}<h2>Réinitialisation<small> de votre mot de passe</small></h2>{% endblock %}

{% block panel_body %}
<p class="text-justify">
	{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock %}

{% block panel_footer %}
<a href={{ path('fos_user_security_login') }}>Retour à la page de connexion.</a>
{% endblock %}
