services:
    user.new_utilisateur:
        class: FGS\UserBundle\EventListener\NewUtilisateurListener
        arguments: ["@doctrine.orm.entity_manager"]
        tags:
            - { name: kernel.event_subscriber}
    user.utilisateur_resetting:
        class: FGS\UserBundle\EventListener\UtilisateurResettingListener
        arguments: ["@router"]
        tags:
            - { name: kernel.event_subscriber}
