html, body
{
	height:100%
}

div,a,#menu_top {
  -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	  -ms-transition: all 300ms ease;
	   -o-transition: all 300ms ease;
	      transition: all 300ms ease;
}
#logo
{
	height: 35px; 
	width: auto;
	margin-top: -5px;
}

#menu_top .navbar-header, #menu_top .navbar-brand > img {
    display: inline-block;
}
#menu_top.transparent{
	background:transparent;
}

.navbar-brand
{
	font-family: 'Indie Flower', cursive;
    font-size: 25px;
}
.ma-petite-tirelire {
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	font-size: 120%;
}

#menu_top.transparent .navbar-brand, #menu_top.transparent .navbar-right
{
	color: #008cba !important;    
}
.icon-facebook{
	font-size:18px;
	text-decoration:none;
	color:#fff;
	background:#008cba;
	text-decoration:none;
	margin-right: 10px;
	display: inline-block;
	width: 20px; height:20px;
	text-align: right;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;	
}



.aeration{
	margin-top: 50px;
}
