<button data-action='check' data-value='{{ mouvementFinancier.id }}' class='btn btn-xs {{ mouvementFinancier.checkBanque ? 'text-success' : 'text-muted' }} btn-link'>
	<span class='glyphicon glyphicon-ok'></span>
</button>
