{% form_theme form 'form_div_layout.html.twig' %}
{{ form_start(form, {'attr':{'style':'display: inline;'}}) }}
<button class='btn btn-danger btn-xs' type='submit'><span class='glyphicon glyphicon-remove'></span></button>
{{ form_end(form) }}
