{% form_theme form 'form_div_layout.html.twig' %}
{{ form_start(form, {'attr':{'style':'display: inline;'}}) }}
<button class='btn btn-xs {{ check ? 'text-success' : 'text-muted' }} btn-link' type='submit'><span class='glyphicon glyphicon-thumbs-{{ check ? 'up' : 'down' }}'></span></button>
{{ form_end(form) }}
